<section class="phx-hero">  
  <h1>My Phrenzy Entry</h1>
  <p><%= link "This clock", to: Routes.live_path(@conn, NeverLoseTicTacToeWeb.ClockLive) %> is a basic live view in action.</p>
  <p><%= link "This tic tack toe", to: Routes.live_path(@conn, NeverLoseTicTacToeWeb.NeverLoseTicTacToeLive) %> is where never lose tick tac toe lives.</p>
</section>