body {
  background: #000000;
  color: #868686;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  min-width: 800px;
}

.head-note span {
  border-bottom: 1px solid;
}

.head-note h1:nth-child(1) {
  margin-top: 3%;
  margin-bottom: 5%;
}

.board-select-cont button {
  font-size: 1em;
}

.board-select-cont button:nth-child(1) {
    border-radius: 0;
    margin-right: 10%; 
}

.board-select-cont button:nth-child(2) {
    border-radius: 0;
    background: rgb(43, 0, 235);
    border: rgb(43, 0, 235);
    margin-right: 10%; 
}

.board-select-cont button:nth-child(3) {
    border-radius: 0;
    background: rgb(30, 0, 165);
    border: rgb(30, 0, 165);
    margin-right: 10%; 
}

.board-select-cont {
  margin: 8% 0;
}

#game-board table {
  border-collapse: collapse;
}
#game-board table td {
  border: 5px solid black; 
}
#game-board table tr:first-child td {
  border-top: 0;
}
#game-board table tr td:first-child {
  border-left: 0;
}
#game-board table tr:last-child td {
  border-bottom: 0;
}
#game-board table tr td:last-child {
  border-right: 0;
}

#game-board table td {
  border: 1px solid #868686;
  display: inline-block;
  font-size: 4em;
  color: azure;
  font-weight: bold;
  text-align: center !important;
  padding: 0 !important;
  width: 100px;
  height: 100px;
}

#game-board button {
  background-color: transparent !important;
  border: 0 !important;
  width: 100px;
  height: 100px;
}

.foot-note {
  margin: 9% 0;
  color: bisque
}

.foot-note a {
  color: rgb(161, 161, 219);
}

.game-status {
  margin-bottom: 2%
}

.won-cell {
  color: #ffd9e2;
  text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
  -webkit-animation: blink 4s infinite alternate;
  animation: blink 4s infinite alternate;
}

.draw-game {
  color: #ffd9e2;
  text-shadow: 0 0 0 transparent, 0 0 10px #ffbb00, 0 0 20px rgba(255, 166, 0, 0.5), 0 0 40px #ffbb00, 0 0 100px #ffbb00, 0 0 200px #ffbb00, 0 0 300px #ffbb00, 0 0 500px #ffbb00, 0 0 1000px #ffbb00;
  -webkit-animation: blink 4s infinite alternate;
  animation: blink 4s infinite alternate;
}

.glow-button {
  box-shadow: 0 0 6px 8px #0069d9;
}